input[type="range"] {
  -webkit-appearance: none !important;
  max-height: .1875rem;
  position: relative;
  top: -0.1875rem;
  background: #DDD;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: .9375rem;
  height: .9375rem;
  position: relative;
  top: -0.0625rem;
  background: #222;
}

.controls {
  color: darkviolet;
  padding: 1.25rem;
  text-align: center;
}

.controls label {
  display: block;
}

.controls label:nth-child(1) {
  margin-bottom: 1.125rem;
}

.controls lalel span {
  background: #FFF;
  color: #222;
  padding: .3125rem;
}

.controls label span p {
  display: inline;
  cursor: pointer;
  transition: color 0.2s;
}

.controls lalel span p:hover {
  color: #FA6900;
}

input {
  width: 1.875rem;
  border: 0rem solid;
  color: #222;
  text-align: center;
  padding: .25rem;
}

select {
  border: 0rem;
  color: #222;
}

.flex {
  display: flex;
  justify-content: center;
}