.tab-list {/*ol*/
  width: 100%;
  border-bottom: 1px solid lightblue;
  padding-left: 0;
}

.tab-list-item {/*li*/
  width: 27%;
  background-color: lightblue;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-radius: 10%;
}

.tab-list-active {/*li active*/
  background-color: lightcyan;
  border: 1px solid darkcyan;
  border-width: 1px 1px 0 1px;
}

.tab-content {/*div*/
  background-color: cyan;
}